body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  position: relative;
  background-color: #181818;
}

::-webkit-scrollbar {
  display: none;
}

:focus-within,
:focus-visible,
:focus {
  outline: none;
}
