body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  position: relative;
  background-color: #181818;
}

a {
  cursor: pointer;
}

#app {
  height: 600px;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
  @media only screen and (min-width: 375px) {
    height: 100vh;
    width: 100vw;
  }
}

::-webkit-scrollbar {
  display: none;
}

:focus-within,
:focus-visible,
:focus {
  outline: none;
}

:focus-visible {
  position: relative;
  border-radius: 4px;
}

:focus-visible::after {
  content: '';
  position: absolute;
  inset: -2px;
  outline: 1px solid #ffffff;
  border: 2px solid #ee7a30;
  border-radius: inherit;
  pointer-events: none;
}
