body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #0c0c0c;
  position: relative;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 102px 0px 102px;
  width: 100%;
}

header h2 {
  font-family: 'Satoshi-Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: right;
}

#app-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
}

#app {
  min-height: 600px;
}

.optionsContainer {
  height: 600px !important;
}

:focus-within,
:focus-visible,
:focus {
  outline: none;
}
